.logo-container {
    width: 25%;
    height: auto;
  }

  .mini-main {
    display: flex;
    justify-content: center;
    transform: scale(0.3);
  }

  .mini-logo-container {
    width: 100%;
    height: 100%;
  }
  
  .mini-pad {
    padding: 30px;
  }
  
  .mini-face{
    position: relative;
    width: fit-content;
    height: auto;
    border-radius: 50%;
    background: #ffcc0000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mini-face::before{
    content: '';
    position: absolute;
    top: 180px;
    width: 180px;
    height: 80px;
    background: #e6e6e6;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    transition: 0.5s
  }
  .mini-face:hover::before{
    top: 210px;
    width: 150px;
    height: 20px;
    background: #e6e6e6;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .mini-eyes{
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .mini-eyes .mini-eye{
    width: 100px;
    height: 100px;
    border: 15px solid;
    border-color: #ffffff #00000000 #00000000 #ffffff;
    border-radius: 50%;
    transform: rotate(45deg) translateX(15px);
    margin-right: 20px;
    
  }
  
  .mini-eyes .mini-eye::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-radius: 50%;
    animation: eyeMovement 10s infinite;
  }
  
  
  @keyframes eyeMovement {
    0% {
      transform: translateX(-43px);
    }
    25% {
      transform: translateY(-43px);
    }
    50% {
      transform: translateX(-43px);
    }
    75% {
      transform: translateY(-43px);
    }
    100% {
      transform: translateX(-40px);
    }
  }

